<h1>Editing bibliotecario</h1>

<%= render "form", bibliotecario: @bibliotecario %>

<br>

<div>
  <%= link_to "Show this bibliotecario", @bibliotecario %> |
  <%= link_to "Back to bibliotecarios", bibliotecarios_path %>
</div>
