<div id="<%= dom_id reserva %>">
  <p>
    <strong>Nomeusuario:</strong>
    <%= reserva.nomeusuario %>
  </p>

  <p>
    <strong>User:</strong>
    <%= reserva.user_id %>
  </p>

  <p>
    <strong>Livro:</strong>
    <%= reserva.livro_id %>
  </p>

</div>
