<h1>Bem vindo bibliotecário!</h1>
<ul>
    <li><%= link_to "Reservas", reservas_path%></li>
    <li><%= link_to "Livros", livros_path%></li>
    <li><%= link_to "Bibliotecarios", bibliotecarios_path%></li>
</ul>
